body{
	background-color: #dbdbdb;
}

nav{
	background-color: #dbdbdb;
}

.navbar {
 	padding: .5rem 1rem;
}

.navbar-toggleable-md .navbar-nav{
margin-top: 0rem;
}

#container-navbar-btn{
	padding-right: 0px;
	padding-left: 0px;

}

#navbar-bnt-menu,
#navbar-bnt-phone,
#navbar-bnt-seach,
#navbar-bnt-cart
{
	width: 100%;
	border-radius: 0px;
}

#navbar-bnt-cart{
	background-image: url('../img/icon/1479761672_cart1.png');
	text-align: center;
	padding-left: 30%;

}

#navbar-bnt-seach{
	background-image: url('../img/icon/1479760980_f002.png');	
}

#navbar-bnt-phone{
	background-image: url('../img/icon/1479761281_ic_local_phone_48px.png');	
}


